force-app/force-app/main/default/flows/CreateWorkOrderForVisit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>When a primary VisitedParty is inserted (IsPrimaryContact=true), create a WorkOrder for the parent Visit. Triggering on VisitedParty (not Visit) avoids the race where the Visit&apos;s after-insert trigger fires before VisitedParty exists. Subject: &quot;Visit with &lt;physician&gt; at &lt;clinic&gt;&quot;. UC2 will append a Task-creation loop after Create_WorkOrder.</description>
    <environments>Default</environments>
    <formulas>
        <description>Subject line for the WorkOrder created from a Visit.</description>
        <name>WorkOrderSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Visit with &apos; &amp; IF(ISBLANK({!physicianContact.Name}), &apos;(unknown physician)&apos;, {!physicianContact.Name}) &amp; &apos; at &apos; &amp; IF(ISBLANK({!clinicAccount.Name}), &apos;(unknown clinic)&apos;, {!clinicAccount.Name})</expression>
    </formulas>
    <interviewLabel>Create Work Order For Visit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Work Order For Visit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a WorkOrder linked back to the Visit. UC2 will extend this flow to loop action_items into Tasks after this step.</description>
        <name>Create_WorkOrder</name>
        <label>Create WorkOrder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>parentVisit.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>parentVisit.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>WorkOrderSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit__c</field>
            <value>
                <elementReference>$Record.VisitId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Look up the clinic Account for its Name (used in the WorkOrder Subject).</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Physician_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>parentVisit.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>clinicAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Look up the physician Contact to get the Name for the WorkOrder Subject.</description>
        <name>Get_Physician_Contact</name>
        <label>Get Physician Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_WorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>physicianContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Resolve the parent Visit so we have AccountId, OwnerId, and the Visit Id for the WorkOrder linkage.</description>
        <name>Get_Visit</name>
        <label>Get Visit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VisitId</elementReference>
            </value>
        </filters>
        <object>Visit</object>
        <outputReference>parentVisit</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Visit</targetReference>
        </connector>
        <filterFormula>{!$Record.IsPrimaryContact} = TRUE</filterFormula>
        <object>VisitedParty</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>clinicAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>parentVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>physicianContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
