force-app/force-app/main/default/flows/Daily_Morning_Briefing_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Briefing_For_Rep</name>
        <label>Generate Briefing For Rep</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MorningBriefingService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Briefing_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>repUserIds</name>
            <value>
                <elementReference>Loop_Reps.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MorningBriefingService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Briefing_Message</name>
        <label>Send Briefing Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Loop_Reps</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Morning_Briefing_Component</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;rep_first_name&quot;,
    &quot;textValue&quot;: &quot;{!Generate_Briefing_For_Rep.repFirstName}&quot;
  },
  {
    &quot;name&quot;: &quot;briefing_body&quot;,
    &quot;textValue&quot;: &quot;{!Generate_Briefing_For_Rep.briefingBody}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>UserIDs</elementReference>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Demo_Phone_To_UserIDs</name>
        <label>Add Demo Phone To UserIDs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UserIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0PAak00000AL3unGAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Active_Reps</targetReference>
        </connector>
    </assignments>
    <description>UC8 — Daily 07:30 IST scheduled morning briefing. DEPLOYED INACTIVE (status=Draft) to avoid WhatsApp message costs during development. Demonstrates production architecture: scheduled trigger, rep query (System Administrator profile placeholder — narrow to real rep profile pre-launch), per-rep briefing generation, WhatsApp send. Judges can see this in Setup → Flows. Activate manually when ready to go live.</description>
    <environments>Default</environments>
    <interviewLabel>Daily Morning Briefing Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Daily Morning Briefing Schedule</label>
    <loops>
        <name>Loop_Reps</name>
        <label>Loop Reps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Active_Reps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Generate_Briefing_For_Rep</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Reps</name>
        <label>Get Active Reps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Reps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>null__NotFound</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Demo_Phone_To_UserIDs</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2026-04-26</startDate>
            <startTime>02:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>UserIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
