force-app/force-app/main/default/flows/Demo_Morning_Briefing_OnDemand.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Briefing</name>
        <label>Generate Briefing</label>
        <locationX>954</locationX>
        <locationY>290</locationY>
        <actionName>MorningBriefingService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>repUserIds</name>
            <value>
                <elementReference>resolved_rep_user_id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MorningBriefingService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Demo_Phone_To_UserIDs</name>
        <label>Add Demo Phone To UserIDs</label>
        <locationX>954</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>UserIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>0PAak00000AL3unGAD</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Briefing</targetReference>
        </connector>
    </assignments>
    <description>UC8 — On-demand morning briefing. Calls MorningBriefingService.generateBriefings for one rep, then sends a single WhatsApp message to the demo phone via the Morning_Briefing_Component messaging definition. Triggered from the Flow Builder Debug button immediately before demo recording.</description>
    <environments>Default</environments>
    <formulas>
        <name>resolved_rep_user_id</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!debug_user_id}), {!$User.Id}, {!debug_user_id})</expression>
    </formulas>
    <interviewLabel>Demo Morning Briefing OnDemand {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo Morning Briefing OnDemand</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>828</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Add_Demo_Phone_To_UserIDs</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>debug_user_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
